@model WebPortal.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @if (System.Web.HttpContext.Current.User.Identity.Name == "admin@gmail.com")
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.ID })
        @Html.ActionLink("Delete | ", "Delete", new { id = Model.ID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />

<div class="container">
    <div class="row">
        <div>
            <p>
                <img src="~/eventimages/@Model.Image" class="img-responsive img-thumbnail" style="max-height:350px; display:inline" />

            </p>
        </div>
        <div>
            <h1>@Html.DisplayFor(model => model.Title)<br /></h1>
            @Html.DisplayFor(model => model.Description)

        </div>

    </div>

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
