@model WebPortal.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>
    @if (System.Web.HttpContext.Current.User.Identity.Name == "admin@gmail.com")
    {
        @Html.ActionLink("Edit | ", "Edit", new { id = Model.ID })
        @Html.ActionLink("Delete | ", "Delete", new { id = Model.ID })
    }
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />

<div class="container" >
    <div class="row">
        <div>
            <p>
                <img src="~/movieimages/@Model.Image" class="img-responsive img-thumbnail" style="max-height:350px; display:inline" />
                
            </p>
        </div>
        <div>
            <h1>@Html.DisplayFor(model => model.Title)<br /></h1>
            @Html.DisplayFor(model => model.Description)

        </div>
        
    </div>

</div>


<p>Book your seat now</p>
<div>
    @using (Html.BeginForm("Create", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Time, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Time, new List<SelectListItem>
                    { new SelectListItem{Text="10.30", Value="10.30",Selected=true},
                    new SelectListItem{Text="01.30", Value="01.30" },
                    new SelectListItem{Text="05.30", Value="05.30" }})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Date, new List<SelectListItem>
                    { new SelectListItem{Text= Convert.ToString(DateTime.Now.Date), Value=Convert.ToString(DateTime.Now.Date),Selected=true},
                    new SelectListItem{Text=Convert.ToString(DateTime.Now.Date)+"1", Value=Convert.ToString(DateTime.Now.Date)+"1" },
                    new SelectListItem{Text=Convert.ToString(DateTime.Now.Date)+"2", Value=Convert.ToString(DateTime.Now.Date)+"2" }})
                </div>
            </div>

            <div class="form-group">
               @Html.LabelFor(model => model.Cinema, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Cinema, new List<SelectListItem>
                     { new SelectListItem{Text="Liberty", Value="Liberty",Selected=true},
                    new SelectListItem{Text="Sky Lite", Value="Sky Lite" },
                    new SelectListItem{Text="Queens", Value="Queens" },
                    new SelectListItem{Text="SkyLite", Value="SkyLite" },
                    new SelectListItem{Text="SkyLite", Value="SkyLite" },
                    new SelectListItem{Text="Savoy", Value="Savoy" }})
                </div>
             </div>

            <div class="form-group">
               @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
               <div class="col-md-10">
                    @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
               </div>
            </div>

            <div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Continue" formaction="@Url.Action("Index", "Paypal")" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
     }
</div>