@model IEnumerable<WebPortal.Models.Movie>

@{
    ViewBag.Title = "Movies";
}

<h2>Index</h2>

<p>
    @if (System.Web.HttpContext.Current.User.Identity.Name == "admin@gmail.com")
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>    

@foreach (var item in Model) {
    <div style="margin: 10px; margin-bottom:30px; overflow:hidden; max-height:500px; max-width:370px; float:left;">

        @Html.DisplayFor(modelItem => item.Title)        
       
        @if (System.Web.HttpContext.Current.User.Identity.Name == "admin@gmail.com")
        {
            @Html.ActionLink("Edit | ", "Edit", new { id = item.ID })
            //@Html.ActionLink("Details | ", "Details", new { id = item.ID })
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        }  
        <a href=@Url.Action("Details", new { id = item.ID })>
            <img src="@Url.Content("~/movieimages/" + @item.Image)"/>
            <div>
                @Html.DisplayFor(modelItem => item.Title)

                @if (System.Web.HttpContext.Current.User.Identity.Name == "admin@gmail.com")
                {
                    @Html.ActionLink("Edit | ", "Edit", new { id = item.ID })
                    //@Html.ActionLink("Details | ", "Details", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </div>
        </a>

                
    </div>
}
<div>
    <h3>Newly added Businesses</h3>

</div><hr />

<div>
    <h3>Newly added Movies</h3>

</div>




