@model WebPortal.Models.PaymentnBusiness

@{
    ViewBag.Title = "Pay to Continue";
}

<h2>Pay Direct With Card</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.fname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paymentinfo.fname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paymentinfo.fname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.lname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paymentinfo.lname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paymentinfo.lname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.cardtype, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="min-height:10px">
                @Html.DropDownListFor(model => model.Paymentinfo.cardtype, new List<SelectListItem>
                { new SelectListItem{Text="visa", Value="visa",Selected=true},
                new SelectListItem{Text="mastercard", Value="mastercard" },
                new SelectListItem{Text="amex", Value="amex" }})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.cardnumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paymentinfo.cardnumber, new { htmlAttributes = 
               new { @class = "form-control", @type = "number", @min = "0", @max = "9999999999999999" } })
                @Html.ValidationMessageFor(model => model.Paymentinfo.cardnumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.month, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paymentinfo.month, new { htmlAttributes = 
               new { @class = "form-control", @type = "number", @min = "01" } })
                @Html.ValidationMessageFor(model => model.Paymentinfo.month, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paymentinfo.year, new { htmlAttributes = 
               new { @class = "form-control", @type = "number", @min = "01" } })
                @Html.ValidationMessageFor(model => model.Paymentinfo.year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.cvv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Paymentinfo.cvv, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paymentinfo.cvv, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Paymentinfo.fee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                
                @Html.EditorFor(model => model.Paymentinfo.fee, new { htmlAttributes = new { disabled = "disabled", @Value = ViewBag.price, @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Paymentinfo.fee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pay with Credit Card" formaction="@Url.Action("PaymentWithCreditCard","Paypal")" class="btn btn-default" />
            </div>
        </div>
    </div>
}