@model WebPortal.Models.Business

@{
    ViewBag.Title = "Details";
}
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<h2>Details</h2>

<div>
    <h4>Business</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back To List", "Index")
    @if ((System.Web.HttpContext.Current.User.Identity.Name == "admin@gmail.com")
                        || (System.Web.HttpContext.Current.User.Identity.Name == Model.Owner))
    {
        @Html.ActionLink("| Edit | ", "Edit", new { id = Model.ID, owner = Model.Owner })
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    }
</p>

<div id="map"></div>
<script>
      function initMap() {
          var uluru = {
              lat: @Model.Latitude, lng: @Model.Longitude};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARHuahw5SpMgJe4mleC4ZA8PL6xLnKQHM&callback=initMap">
</script>
